@use '../abstracts' as *;

#archive {
  .ant-collapse {
    display: block;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    width: 100%;
    background-color: transparent;
    border: 0;

    &.ant-collapse-icon-position-end {
      .ant-collapse-header {
        .ant-collapse-expand-icon {
          order: 1;
          padding-left: 0;
          margin-left: auto;
        }
      }
    }

    .ant-collapse-item {
      @include focus-visible(out);
      display: block;
      width: 100%;
      background-color: var(--layer-01);
      border: 1px solid var(--border-subtle-01);
      border-radius: var(--radius-8);

      // &:first-child {
      //   border-top-left-radius: var(--radius-8);
      //   border-top-right-radius: var(--radius-8);
      // }

      // &:last-child {
      //   border-bottom-left-radius: var(--radius-8);
      //   border-bottom-right-radius: var(--radius-8);
      //   border-bottom: 1px solid var(--border-subtle-01);
      // }
    }

    .ant-collapse-header {
      @include typography(body2, var(--text-default));
      box-sizing: border-box;
      display: flex;
      gap: var(--spacing-8);
      align-items: center;
      width: 100%;
      min-height: $collapseHeaderHeight;
      padding: var(--spacing-8) var(--spacing-16);
      border-top-left-radius: var(--radius-8);
      border-top-right-radius: var(--radius-8);
      transition: $trans-common-bezier-bg-color;

      .ant-collapse-header-text {
        display: flex;
        flex: 1 0 calc(100% - 28px);
        gap: var(--spacing-8);
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .header-group {
          box-sizing: border-box;
          display: flex;
          gap: var(--spacing-8);
          justify-content: space-between;
          width: 100%;
        }

        // .item-title {
        //   @include typography(body2, var(--text-default));
        // }

        .item-desc {
          @include typography(label5, var(--text-helper));
        }
      }

      .ant-collapse-expand-icon {
        display: flex;
        height: auto;
        padding-right: 0;
        cursor: pointer;
        user-select: none;

        .ant-collapse-arrow {
          height: auto;
          font-size: 0;
          transform-origin: 50% 50%;
          transition: $trans-in-out-transform-icon;
        }
      }

      &:hover {
        background-color: var(--interaction-hover);
      }
    }

    .ant-collapse-content {
      box-sizing: border-box;
      display: block;
      overflow: hidden;
      color: var(--text-default);
      background-color: inherit;
      border-top: 0;
      border-radius: inherit;

      .ant-collapse-content-box {
        display: block;
        padding: 0;
      }
    }

    // active
    .ant-collapse-item-active {
      .ant-collapse-header {
        // 아예 제거인 것으로 보임
        // border-bottom: 1px solid var(--border-subtle-01);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .ant-collapse-expand-icon {
        .ant-collapse-arrow {
          transform: rotate(90deg);
        }
      }
    }

    // 여백을 포함한 실제 컨텐츠 영역
    .collapse-content-body {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: var(--spacing-8) var(--spacing-16) var(--spacing-24);

      // 내부에 별도 여백을 갖고 있는 content 삽입 시 padding: 0
      &:has(.content) {
        padding: 0;
      }

      // 여백 있는 형태로 Ceph 반영되어 있어 일단 주석
      // &:has(> .table-content) {
      //   padding: 0;
      // }

      .section:last-child {
        padding-bottom: var(--spacing-24);
      }
    }

    // 이 외 요소 예외 처리
    .tag-wrap {
      flex: 0 0 auto;
    }

    // 오버플로우 요소 내 버튼은 인사이드라인이 필요 (box-shadow로 처리)
    .ant-btn {
      @include focus-visible(in);
    }

    // 콜랩스 추가하기 버튼
    .add-collapse-btns {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-4);
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 0;

      .add-collapse-btn {
        display: flex;
        align-items: center;

        .add-collapse-btn-title {
          @include typography(label3, var(--text-default));
        }

        .add-collapse-btn-value {
          @include typography(label2, var(--text-default));
        }
      }
    }
  }

  .ant-collapse-borderless {
    gap: 0;
    border: 0;
    border-radius: var(--radius-0);

    .ant-collapse-item {
      min-height: 32px;
      border: 0;
      border-top: 1px solid var(--border-subtle-01);
      border-radius: var(--radius-0);

      &:first-child {
        border-top: 0;
      }

      // &:last-child {
      //   border-bottom: 1px solid var(--border-subtle-01);
      // }

      &.ant-collapse-item-active {
        .ant-collapse-header {
          // min-height: 32px;
          border-bottom: 0;
        }
      }
    }

    .ant-collapse-header {
      border: 0;
      border-radius: var(--radius-0);
    }
  }

  // border-bottom 이 divder.size-large 일 경우
  .ant-collapse.divider-size-large {
    .ant-collapse-item:not(:first-child) {
      &::before {
        display: block;
        height: 8px;
        content: '';
        background-color: var(--layer-00);
      }
    }
  }

  // border-bottom (ant-divider의 border-top) 예외 처리
  .ant-collapse + .ant-divider.size-large {
    border-top: 0;
  }

  // collapse-wrap
  .collapse-wrap {
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-subtle-01);
    border-radius: var(--radius-8);
  }
}
