@use '../../abstracts' as *;

#okestro-ceph {
  .custom-collapse-float {
    position: sticky;
    top: 0;
    z-index: $z-index-popup;

    .ant-collapse-item {
      position: relative;
      background-color: var(--layer-01);

      &.ant-collapse-item-active {
        // z-index: 2;
        .ant-collapse-arrow {
          transform: none;
        }

        .ant-collapse-header {
          border-bottom: 0;
        }
      }
    }

    .ant-collapse-header {
      gap: var(--spacing-4);

      .ant-collapse-header-text {
        @include ellipsis(1);
        max-width: calc(100% - 56px);
      }

      .grid-group-header-text {
        display: flex;
        align-items: center;
        height: 28px;

        span {
          @include typography(label4, var(--text-default));
        }

        .status-desc {
          @include ellipsis(1);
          flex-shrink: 1;
          min-width: 0;
        }
      }

      &:focus {
        box-shadow: none;
      }

      &:hover {
        background: none;
      }

      &:active {
        background: inherit;
      }
    }

    .ant-collapse-content {
      position: absolute;
      z-index: 9999;
      width: 100%;
      margin-top: -1px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: var(--layer-01);
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: inherit;
      }

      .ant-collapse-content-box {
        @include typography(helper, var(--text-default));
        position: relative;
        z-index: 2;
        padding: 0 var(--spacing-16) var(--spacing-16) 74px;
      }
    }

    .icon-box {
      position: relative;

      .material-icon {
        position: relative;
        z-index: 2;
        font-size: 28px;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        width: 28px;
        height: 28px;
        content: '';
        border-radius: 50%;
        box-shadow: inset 0 0 0 4px var(--icon-default);
        transform: translate3d(-50%, -50%, 0);
        animation: motion-fade-in-out 1.4s infinite ease-out;
      }
    }

    .rotate {
      transform: rotate(90deg);
    }

    // 상태별 클래스
    &.warning {
      .ant-collapse-item {
        background: var(--support-orange-subtler);

        .icon-box {
          &::after {
            box-shadow: inset 0 0 0 4px var(--support-orange-default);
          }
        }
      }

      .ant-collapse-header {
        .status-title {
          color: var(--support-orange-default);
        }
      }
    }

    &.error {
      .ant-collapse-item {
        background: var(--support-red-subtler);

        .icon-box {
          &::after {
            box-shadow: inset 0 0 0 4px var(--support-red-default);
          }
        }
      }

      .ant-collapse-header {
        .status-title {
          color: var(--support-red-default);
        }
      }
    }

    &.success {
      .ant-collapse-item {
        background: var(--support-green-subtler);

        .icon-box {
          &::after {
            box-shadow: inset 0 0 0 4px var(--support-green-default);
          }
        }
      }

      .ant-collapse-header {
        .status-title {
          color: var(--support-green-default);
        }
      }
    }
  }
}
